# Ignore les fichiers/dossiers de Node.js
node_modules/
.env
.env:Zone.Identifier

# Ignore les fichiers de build
dist/
build/

# Ignore les fichiers locaux
*.log
*.bak

# Ignore les fichiers IDE
.vscode/
.idea/